$primary-color: #FF984A;
$secondary-color: #FEFAE0;
$third-color: #C4661F;
$fourth-color: #B48D67;
$fifth-color: #581C00;
$sixth-color: #EBC17D;
$seventh-color: #BDC89C;
$text-color: #373F32;
$title-color: #E1C9B2;