$primary-color: #ff984a;
$secondary-color: #fefae0;
$third-color: #c4661f;
$fourth-color: #b48d67;
$fifth-color: #581c00;
$sixth-color: #ebc17d;
$seventh-color: #bdc89c;
$text-color: #373f32;
$text2-color: #262626;
$text3-color: #1c1c1d;
$title-color: #e1c9b2;

@font-face {
  font-family: "DimaKodak";
  src: url("../assets/fonts/DimaKoodak.woff");
}
@font-face {
  font-family: "Hudhund";
  src: url("../assets/fonts/Hudhud-AR-Regular.woff");
}

body {
  font-family: "DimaKodak";
  background-image: url("../assets/img-icons/body-backgroundimg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  font-weight: 400;
  min-height: 100vh;
}

*,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
div,
section,
button,
details,
summary {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.2rem;
  word-spacing: 3px;
  list-style: none;
  font-weight: 400;
}

button {
  cursor: pointer;
  outline: 0;
  border: 0;
  background-color: inherit;
  font-family: "DimaKodak";
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all ease 0.2s;
}

a:hover {
  color: inherit;
}

input,
textarea {
  outline: 0;
  border: 0;
  padding: 0;
  margin: 0;
}

header {
  .MobileNavbar {
    width: 100%;
    position: sticky;
    height: 100px;
    background-color: $fifth-color;

    button {
      width: 54px;
      height: 54px;
      color: white;
      border: 1px solid white;
      border-radius: 50%;

      svg {
        width: 34px;
        height: 34px;
      }
    }

    > img {
      width: 80px;
      height: 80px;
    }
  }
}

.offcanvasOverlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #0000005b;
  z-index: 90;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease;
}

.MobileOffcanvas {
  position: fixed;
  inset: 0;
  right: -300px;
  width: 260px;
  height: 100%;
  background-color: $fifth-color;
  z-index: 95;
  transition: right 0.3s ease;

  > ul {
    color: white;
  }

  > button {
    width: 30px;
    height: 30px;
    color: white;
    position: absolute;
    top: 38px;
    left: 20px;
  }
}

.offcanvasOverlay.show {
  opacity: 1;
  visibility: visible;
}

.MobileOffcanvas.show {
  right: 0;
}

.DesktopNavbar {
  color: white;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  > .first {
    display: flex;
    align-items: center;

    ul {
      li {
        // transition: all ease .1s;

        &.active {
          color: $primary-color;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            width: 60px;
            height: 3px;
            background-color: $primary-color;
            bottom: -12px;
            right: 23px;
            border-radius: 12px;
          }
        }

        &:hover {
          color: $primary-color;
        }
      }
    }
  }

  > .second {
    > div {
      width: 118px;
      height: 24px;
      border-left: 1px solid rgb(188, 188, 188);

      padding-left: 1rem;
      img {
        width: 24px;
        height: 24px;
      }
      div {
        width: 100%;

        input {
          background-color: transparent;
          border-bottom: 1px solid white;
          width: 100%;
          color: white;
          font-size: 0.8rem;
        }
      }
    }

    > a {
      &:hover {
        color: $primary-color;
      }
    }
  }
}

.HomeSec1 {
  > img {
    width: 100%;
    max-width: 730px;
  }

  > .decsription {
    width: 100%;
    max-width: 320px;
    > h5 {
      color: $secondary-color;
      font-size: 65px;
      font-family: "DimaKodak";
    }

    > p {
      color: $primary-color;
    }

    .optionsContainer {
      display: flex;
      flex-direction: column;
      gap: 50px;

      > div {
        position: relative;
        z-index: 10;

        span {
          color: $text-color;
          background-color: $secondary-color;
          border-radius: 9px;
          padding: 5px 8px;
          z-index: 9;
          position: absolute;
          z-index: -1;
          top: -40px;
          right: 20px;
        }

        button {
          width: 100%;
          background-color: $primary-color;
          color: $text2-color;
          border-radius: 14px;
          padding: 9px 14px;
          box-shadow: 0px -1px 9px 0px #00000040;
        }
      }
    }
  }
}

.HomeSec2 {
  .HomeSec2Title {
    > h3 {
      color: $primary-color;
      font-size: 60px;
    }

    > p {
      color: $secondary-color;
      font-size: 1.1rem;
    }
  }

  .HomeSec2Tabs {
    display: flex;
    gap: 10px;
    border-radius: 10px;
    width: 100%;
    max-width: 470px;
    border-radius: 13px;
    margin: 0 auto;
    background-color: $secondary-color;

    button {
      background-color: transparent;
      color: $text2-color;
      padding: 10px;
      width: 150px;
      border-radius: 13px;
      position: relative;
      transition: all ease 0.2s;
      color: #853a04;

      &.active,
      &:hover {
        background-color: $primary-color;
        color: #853a04;
      }
    }
  }

  > .CardContainer {
    .swiper-wrapper {
      height: 420px;
    }

    .swiper-slide {
      height: 400px;
      display: flex;
      flex-direction: column;
      padding-top: 2rem;
      align-items: center;
    }

    .swiperUtilContainer {
      position: relative;
    }

    .swiper-pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      // margin-bottom: 1rem;
      position: static;
      width: fit-content;
    }

    .swiper-pagination-bullet {
      background: white;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      background-color: transparent;
      width: 11px;
      height: 11px;
      border: 1px solid $primary-color;
      border-radius: 50%;
      // margin-top: 4rem;
    }

    .custom-prev-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: transparent;

      img {
        width: 14px;
        height: 14px;
      }
    }
    .custom-next-btn {
      display: flex;
      justify-content: center;
      align-items: center;

      color: transparent;

      img {
        width: 14px;
        height: 14px;
      }
    }

    .MiniCard {
      max-width: 330px;
      width: 100%;
      position: relative;

      > img {
        width: 57px;
        height: 57px;
        position: absolute;
        left: -18px;
        top: -18px;
      }

      .MiniCardDescription {
        background-color: white;
        position: absolute;
        bottom: -100px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 15px;
        width: 274px;
        border: 1px solid $primary-color;
        > h4 {
          font-size: 24px;
          border-bottom: 1px solid $primary-color;
          color: $text2-color;
          text-align: center;
        }

        > section {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          row-gap: 10px;
          // background-color: red;
          color: $text2-color;
          border-radius: 17px;
          width: 274px;
          padding: 12px 9px;

          > div {
            margin: 0 auto;
            display: flex;
            align-items: center;
            min-width: 105px;
            gap: 7px;
            p {
              font-size: 18px;
            }
          }
        }

        > button {
          border-radius: 34px;
          border: 1px solid $third-color;
          color: $third-color;
          padding: 7px 14px;
          background-color: $secondary-color;
          font-size: 16px;
          position: absolute;
          bottom: -27px;
          left: 50%;
          transform: translateX(-50%);
          box-shadow: 0px -2px 27.6px 0px #00000021;
        }
      }
    }
  }

  .HomeSec2Paginate {
    margin-top: 6rem;
    max-width: 1000px;
    width: 100%;

    > div:nth-child(2) {
      margin-right: 7rem;
    }
    > div:last-child {
      color: var(--primary-color);
    }
  }

  .btn-under-slider {
    display: flex;
    justify-content: end;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    span {
      position: absolute;
      bottom: -16px;
      left: -20px;
    }
  }
}

.HomeSec3 {
  > img {
    max-width: 400px;
    width: 100%;
  }

  > div {
    max-width: 525px;
    margin: 0 auto;

    h5 {
      color: $title-color;
      font-size: 60px;
    }

    p {
      color: white;
      text-align: justify;
      font-size: 1rem;
      line-height: 1.9rem;
    }
  }
}

.HomeSec4 {
  position: relative;
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  background-color: $fourth-color;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  border-radius: 28px;
  padding: 15px 12px;

  > img {
    position: absolute;
    left: -60px;
    bottom: -80px;
    max-width: 160px;
  }

  > div {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;

    span:nth-of-type(2) {
      font-size: 1rem;
      white-space: nowrap;
      color: $secondary-color;
    }

    img {
      width: 62px;
      height: 54px;
      margin: 0 auto;
    }
  }
}

.HomeSec5 {
  width: 100%;
  max-width: 1100px;

  > h5 {
    text-align: center;
    font-size: 60px;
    color: $primary-color;
  }

  > p {
    text-align: center;
    color: $secondary-color;
  }

  > div {
    form {
      width: 100%;
      max-width: 370px;
      margin: 0 auto;

      div {
        width: 100%;
      }

      label {
        font-size: 1rem;
      }

      input {
        background-color: transparent;
        border-bottom: 1px solid $primary-color;
        color: white;
        font-size: 1rem;
      }
    }
  }
}

.HomeSec6 {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;

  h5 {
    color: $secondary-color;

    font-size: 60px;
    text-align: center;
  }

  p {
    text-align: center;
    color: $primary-color;
  }

  > section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // justify-content: space-between;
    gap: 15px;

    div {
      display: flex;
      flex-direction: column;
      gap: 5px;
      align-items: center;
      color: $secondary-color;
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  padding: 1rem;
  position: relative;

  > section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1100px;
    background-color: $seventh-color;
    color: #1d1d1b;
    border-radius: 40px;
    padding: 40px;

    > div:nth-of-type(1) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      > img {
        margin: 0 auto;
      }

      ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;
        column-gap: 15px;
      }
    }

    > div:nth-of-type(2),
    > div:nth-of-type(3) {
      span {
        font-size: 1.4rem;
        position: relative;
        margin-right: 10px;

        &::before {
          content: "";
          position: absolute;
          width: 4px;
          height: 18px;
          bottom: 50%;
          right: -10px;
          transform: translateY(50%);
          border-radius: 12px;
          background-color: $fifth-color;
        }
      }

      ul {
        li {
          a {
            font-size: 1.1rem;
          }

          &:not(:first-child) {
            display: flex;
            align-items: center;
            gap: 12px;
          }

          &:first-child {
            display: flex;
            align-items: start;
            gap: 12px;
          }
        }
      }
    }
  }
}

.CategoriesFilterSec {
  > .titles {
    h5 {
      font-size: 50px;
      color: $primary-color;
    }
    p {
      color: $secondary-color;
    }
  }
}

.ListFiltersContainer {
  margin: 4rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  > button {
    background-color: $secondary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    border-radius: 12px;
    padding: 6px 10px;
    width: 110px;
    color: #546546;
    position: relative;

    > ul {
      cursor: default;
    }

    > span {
      font-weight: 400;
      font-size: 1rem;
    }

    > .OptionGBadge {
      background-color: $primary-color;
      color: white;
      display: none;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: 23px;
      height: 23px;
      font-size: 0.8rem;
      margin-right: auto;
      margin-left: 5px;
    }

    .OptionGIcon {
      transition: transform 0.3s ease;

      &.active {
        transform: rotate(
          180deg
        ); // Rotate the arrow up when the dropdown is open
      }
    }
  }
}

.ListFilterDropDown {
  position: absolute;
  top: 120%;
  right: 0;
  width: 225px;
  // padding: 6px 10px;
  display: none;
  flex-direction: column;
  background-color: white;
  color: #546546;
  z-index: 10;
  border-radius: 12px;
  box-shadow: 5px 4px 13.3px 0px #0000005e;
  overflow: hidden;

  > li {
    text-align: start;
    padding: 0.4rem;

    &:hover {
      color: $primary-color;
    }

    > label {
      width: 100%;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 15px;

      > span.active {
        color: $primary-color;
      }

      > input {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
      }

      > .checkImg,
      > .uncheckImg {
        width: 20px;
        height: 20px;
      }

      > .checkImg {
        display: none;
      }
    }

    &:not(:last-child) {
      border-bottom: 1px solid #e0e0e0;
    }
  }
}

.CardListContainer {
  margin-bottom: 8rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 2rem;
  row-gap: 8rem;

  .MiniCard {
    max-width: 330px;
    width: 100%;
    position: relative;
    margin: 0 auto;

    > img {
      width: 57px;
      height: 57px;
      position: absolute;
      left: -18px;
      top: -18px;
    }

    .MiniCardDescription {
      background-color: white;
      position: absolute;
      bottom: -100px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 15px;
      width: 274px;
      border: 1px solid $primary-color;

      > h4 {
        font-size: 24px;
        border-bottom: 1px solid $primary-color;
        color: $text2-color;
        text-align: center;
      }

      > section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10px;
        // background-color: red;
        color: $text2-color;
        border-radius: 17px;
        width: 274px;
        padding: 12px 9px;

        > div {
          margin: 0 auto;
          display: flex;
          align-items: center;
          min-width: 105px;
          gap: 7px;
          p {
            font-size: 18px;
          }
        }
      }

      > button {
        border-radius: 34px;
        border: 1px solid $third-color;
        color: $third-color;
        padding: 7px 14px;
        background-color: $secondary-color;
        font-size: 16px;
        position: absolute;
        bottom: -27px;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0px -2px 27.6px 0px #00000021;
      }
    }
  }
}

.ReserveInfoSec {
  max-width: 880px;
  // height: 400px;
  background-color: #ffffff33;
  border-radius: 18px;
  border: 1px solid white;
  margin: 0 auto;

  .ReserveInfo {
    > div {
      max-width: 481px;
      width: 100%;
    }

    .header-divider {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 1px;
        height: 10px;
        background-color: #c0c0c0;
        top: 50%;
        transform: translateY(-50%);
        right: -10px;
      }
      &::after {
        content: "";
        position: absolute;
        width: 1px;
        height: 10px;
        background-color: #c0c0c0;
        top: 50%;
        transform: translateY(-50%);
        left: -10px;
      }
    }
  }

  .ReserveInfoBody {
    > section {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      margin-top: 2rem;

      div {
        // margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2px;
        width: 100%;

        p {
          font-size: 1rem;
        }

        span {
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $seventh-color;
          color: $text3-color;
          padding: 8px 14px;
          max-width: 105px;
          width: 100%;
          font-size: 0.8rem;
          font-weight: 600;
        }
      }
    }

    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      p {
        width: fit-content;
        white-space: nowrap;
        font-size: 1rem;
      }
      span {
        border-radius: 8px;
        background-color: $seventh-color;
        color: $text3-color;
        padding: 8px 14px;
        width: 100%;
        font-size: 0.9rem;
      }
    }
  }

  .QrcodeSec {
    img {
      max-width: 295px;
      width: 100%;
    }
  }

  .BottomLineContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    p {
      max-width: 490px;
      font-size: 1rem;
    }

    > .Line {
      width: 100%;
      max-width: 640px;
      margin: 0 auto 1rem auto;
      border-radius: 10px;
      height: 5px;
      background-color: $primary-color;
    }
  }
}

.AboutusSec1 {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  .text {
    width: 100%;
    max-width: 480px;

    h5 {
      color: $primary-color;
      font-size: 55px;
    }
    p {
      line-height: 30px;
      text-align: justify;
      font-size: 1.1rem;
    }
  }

  .imgSec {
    position: relative;
    img:nth-of-type(1) {
      width: 100%;
      max-width: 394px;
      width: 390px;
    }
    img:nth-of-type(2) {
      position: absolute;
      bottom: 0;
      right: 0;
      max-width: 170px;
    }
  }
}

.AboutusSec3 {
  max-width: 1122px;
  width: 100%;
  margin: 5rem auto 0 auto;
  background-color: #eac07d;
  background-image: url("../assets/img-icons/aboutus-backdropimg.svg");
  border-radius: 18px;
  min-height: 367px;
  > div {
    max-width: 540px;
    width: 100%;

    h5 {
      color: $text3-color;
      font-size: 55px;
    }

    p {
      color: $text3-color;
    }
    > div {
      background-color: $secondary-color;
      border-radius: 15px;
      width: 100%;
      max-width: 500px;
      input {
        background-color: transparent;
        width: 100%;
        &::placeholder {
          font-size: 1rem;
        }
      }

      button {
        background-color: $primary-color;
        color: white;
        border-radius: 15px;
        display: flex;
        align-items: center;
        gap: 3px;

        padding: 8px 14px;
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  img {
    width: 100%;
    max-width: 328px;
  }
}

.AboutusSec4 {
  width: 100%;
  max-width: 1000px;
  margin: 2rem auto 0 auto;

  h5 {
    color: $secondary-color;
    font-size: 55px;
  }

  p {
    color: $primary-color;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    width: 100%;
    row-gap: 4rem;

    > div {
      border: 1px solid $primary-color;
      border-radius: 23px;
      width: 198px;
      height: 247px;
      padding: 1rem;
      position: relative;
      margin: 0 auto;

      > div {
        h6 {
          color: $primary-color;
          font-size: 1.3rem;
        }

        span {
          font-size: 1rem;
        }
      }

      > img {
        position: absolute;
        top: -50px;
      }
    }
  }
}

.ContactUsSec1 {
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;

  h5 {
    color: $primary-color;
    font-size: 55px;
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
  }

  > .contents {
    > form {
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
      > div {
        > label {
          color: $primary-color;
          font-size: 1.1rem;
          span {
            color: rgb(205, 205, 205);
          }
        }

        > input,
        textarea {
          border-radius: 14px;
          background-color: white;
          padding: 8px 1rem;
          &::placeholder {
            font-size: 1rem;
            color: #1d1d1b80;
          }
        }

        textarea {
          resize: none;
        }
      }

      button {
        border-radius: 14px;
        background-color: $primary-color;
        color: $text3-color;
        padding: 8px 12px;
        letter-spacing: 1px;
        width: 100%;
      }
    }

    section {
      width: 100%;
      max-width: 350px;
      margin: 0 auto;

      .info {
        > section:nth-of-type(1) {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          .divider-circle {
            width: 7px;
            height: 7px;
            background-color: #878787;
            border-radius: 50%;
          }

          > div {
            span {
              color: $primary-color;
            }
          }
        }

        > section:nth-of-type(2) {
          margin-top: 2rem;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          row-gap: 1.3rem;
          column-gap: 1rem;
        }
      }
    }
  }
}

.CommonQSec {
  width: 100%;
  max-width: 1822px;
  margin: 0 auto;
  padding-top: 6rem;
  min-height: 900px;
  display: flex;
  align-items: center;
  flex-direction: column;

  > div:nth-of-type(1) {
    margin-left: 2rem;

    > h5 {
      color: $primary-color;
      font-weight: 400;
      font-size: 50px;
    }

    > p {
      color: $secondary-color;
      font-weight: 400;
    }
  }
}

.AccordionsContainer {
  width: 100%;
  max-width: 890px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: auto;
  padding-right: 10px;
  padding-left: 80px;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    box-shadow: inset 0 0 5px $secondary-color;
    border-radius: 4px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 4px;
  }

  > section {
    background-color: white;
    box-shadow: 0px 5px 16px 0px #080f340f;
    border-radius: 20px;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid transparent;

    &.open {
      border-color: $primary-color;
    }

    > p {
      text-align: justify;
      color: $text3-color;
      font-size: 1rem;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.4s linear;
    }

    > div {
      height: 50px;
      color: $primary-color;
      cursor: pointer;
      user-select: none;
      margin-bottom: 0.8rem;
      > img {
        width: 40px;
        height: 40px;
      }
    }

    .openAccordion {
      height: 50px;
      background-color: white;
      width: 50px;
      border-radius: 50%;
      color: #ba5d16;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      > svg {
        width: 30px;
        height: 30px;
      }
    }

    .closeAccordion {
      background-color: #ba5d16;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      color: white;
      justify-content: center;
      align-items: center;
      > svg {
        width: 30px;
        height: 30px;
      }
      display: none;
    }
  }
}

.AccordionSec.open .AccordionBody {
  max-height: 500px;
  transition: max-height 1s ease-out;
}

.RegisterPageContainer {
  background-image: url("../assets/img-icons/register-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  min-height: 100vh;
}

.RegisterPage {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem 1rem;

  .RegisterCard {
    border: 1px solid $secondary-color;
    box-shadow: -122px 0px 95.8px -101px #00000040;
    background-color: #1d1d1bb2;
    border-radius: 40px;
    backdrop-filter: blur(10px);
    width: 100%;
    max-width: 750px;
    height: 900px;

    .header {
      img {
        width: 95px;
        height: 95px;
      }

      h5 {
        font-size: 55px;
        color: $primary-color;
      }
    }

    .formContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      form {
        > div {
          display: flex;
          flex-direction: column;
          gap: 0px;

          label {
            font-size: 20px;
          }
          input:not([type="checkbox"]) {
            background-color: transparent;
            border-bottom: 1px solid $primary-color;
            color: white;
            padding: 0 10px;
            height: 30px;
          }

          input[type="checkbox"] {
            cursor: pointer;
            background-color: $primary-color;
            color: white;
          }

          .toggle-switch {
            position: relative;
            display: inline-block;
            width: 80px;
            height: 40px;
            cursor: pointer;

            input[type="checkbox"] {
              display: none;
            }

            &-background {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: #ddd;
              border-radius: 20px;
              box-shadow: inset 0 0 0 2px #ccc;
              transition: background-color 0.3s ease-in-out;
            }

            &-handle {
              position: absolute;
              top: 5px;
              left: 5px;
              width: 30px;
              height: 30px;
              background-color: #fff;
              border-radius: 50%;
              box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
              transition: transform 0.3s ease-in-out;
            }

            &::before {
              content: "";
              position: absolute;
              top: -25px;
              right: -35px;
              font-size: 12px;
              font-weight: bold;
              color: #aaa;
              text-shadow: 1px 1px #fff;
              transition: color 0.3s ease-in-out;
            }

            input[type="checkbox"]:checked + .toggle-switch-handle {
              transform: translateX(45px);
              box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 0 3px #05c46b;
            }

            input[type="checkbox"]:checked + .toggle-switch-background {
              background-color: #05c46b;
              box-shadow: inset 0 0 0 2px #04b360;
            }

            input[type="checkbox"]:checked + &::before {
              content: "On";
              color: #05c46b;
              right: -15px;
            }

            input[type="checkbox"]:checked
              + &-background
              .toggle-switch-handle {
              transform: translateX(40px);
            }
          }
          /* From Uiverse.io by ErzenXz */
          .toggle-switch {
            position: relative;
            display: inline-block;
            width: 36px;
            height: 18px;
            cursor: pointer;
          }

          .toggle-switch input[type="checkbox"] {
            display: none;
          }

          .toggle-switch-background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #ddd;
            border-radius: 20px;
            box-shadow: inset 0 0 0 2px #ccc;
            transition: background-color 0.3s ease-in-out;
          }

          .toggle-switch-handle {
            position: absolute;
            top: 13%;
            left: 3px;
            width: 13px;
            height: 13px;
            background-color: #fff;
            border-radius: 50%;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s ease-in-out;
          }

          .toggle-switch::before {
            content: "";
            position: absolute;
            top: -25px;
            right: -35px;
            font-size: 12px;
            font-weight: bold;
            color: #aaa;
            text-shadow: 1px 1px #fff;
            transition: color 0.3s ease-in-out;
          }

          .toggle-switch
            input[type="checkbox"]:checked
            + .toggle-switch-handle {
            transform: translateX(50px);
            box-shadow: 0 2px 5px rgba(255, 2, 2, 0.2), 0 0 0 3px $primary-color;
          }

          .toggle-switch
            input[type="checkbox"]:checked
            + .toggle-switch-background {
            background-color: $primary-color;
            box-shadow: inset 0 0 0 2px $primary-color;
          }

          .toggle-switch
            input[type="checkbox"]:checked
            + .toggle-switch:before {
            content: "On";
            color: $primary-color;
            right: 5px;
          }

          .toggle-switch
            input[type="checkbox"]:checked
            + .toggle-switch-background
            .toggle-switch-handle {
            transform: translateX(17px);
          }
        }

        button {
          background-color: $secondary-color;
          font-size: 1rem;
          width: 100%;
          padding: 8px 10px;
          box-shadow: 0px -1px 9px 0px #00000040;
          border-radius: 14px;
        }
      }

      .LoginLink {
        span {
          font-size: 0.9rem;
        }
        a {
          color: $primary-color;
        }
      }
    }
  }
}

.SliderSec {
  > h5 {
    color: $primary-color;
    font-size: 60px;
    text-align: center;
  }

  .SliderContainer {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;

    .swiper {
      border-radius: 39px;
      border: Mixed solid #ffffff;
      overflow: hidden;
      .swiper-slide {
        width: 100%;
        height: 100%;
        max-height: 570px;
      }

      .swiperUtilContainer {
        position: relative;
        width: fit-content;
        margin: 0 auto;
        display: flex;
        margin-bottom: 1rem;
        align-items: center;
        gap: 20px;
        z-index: 40;
      }
    }
  }
}

.menu-reserve-sec2 {
  > h5 {
    color: $secondary-color;
    font-size: 50px;
  }

  > p {
    color: $primary-color;
  }

  > section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    column-gap: 2rem;
    width: 100%;
    max-width: 860px;
    margin-top: 1rem;
  }
}

.MapSection {
  width: 100%;
  max-width: 1122px;
  height: 567px;
  border: 1px solid $primary-color;
  margin: 0 auto;
  margin-top: 10rem;
  margin-bottom: 6rem;
  border-radius: 1rem;
  overflow: hidden;
  border-radius: 25px;
  position: relative;

  > div {
    width: 253px;
    // height: 283px;
    background-color: white;
    border: 1px solid $third-color;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    color: $third-color;
    position: absolute;
    top: 20%;
    right: 30px;

    span {
      font-size: 0.9rem;
    }
    p {
      font-size: 1rem;
    }

    > h5 {
      font-weight: 400;
      border-bottom: 1px solid $third-color;
      padding-bottom: 1rem;
      font-size: 32px;
    }
  }
}

.menuSecHeader {
  h3 {
    font-size: 50px;
    color: $secondary-color;
  }

  p {
    color: $primary-color;
  }
}

.menuSecTabs {
  border-radius: 13px;
  background-color: $secondary-color;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 414px;

  button {
    width: 100%;
    border-radius: 13px;
    color: #853a04;
    padding: 8px 12px;
    transition: all ease 0.2s;

    &:hover,
    &.active {
      background-color: $primary-color;
      color: $text2-color;
    }
  }
}

.MainCafeMenuContainer {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: var(--primary-color);

  .MenuListsSec {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    // gap: 50px;
    row-gap: 30px;
    column-gap: 50px;

    > div {
      background-color: transparent;
      border-radius: 20px;
      padding: 8px 12px;

      .header {
        border-bottom: 1px solid #edd089;
        padding-bottom: 0.8rem;

        > span {
          img {
            width: 55px;
            height: 55px;
          }
        }
      }

      .content {
        > li {
          > div:nth-of-type(1) {
            display: flex;
            align-items: center;
            gap: 5px;

            .dashedDiv {
              border-bottom: 2px dotted white;
              flex: 1;
            }
          }

          .menuItemQty {
            font-size: 1rem;
          }

          .plusBtn,
          .minusBtn {
            background-color: $sixth-color;
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 7px;
            border: 1px solid white;

            &:hover {
              background-color: $fourth-color;
            }
          }

          .item-div {
            display: flex;
            align-items: center;
            width: 120px;
            gap: 5px;

            > span {
              font-size: 1rem;
            }
          }

          .price-div {
            font-size: 0.9rem;
            display: flex;
            align-items: center;
            width: 90px;
            gap: 5px;
          }
        }
      }
    }
  }

  .MenuTotalContainer {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 10px;
    gap: 40px;
    border-radius: 14px;

    > span {
      background-color: var(--fourth-color);
      border-radius: 9px;
      padding: 15px 20px;
    }
  }
}

.SliderContainer.menu-reserve {
  // display: none;

  .swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    gap: 10px;
  }

  .swiper-pagination-bullet {
    background: white;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    background-color: transparent;
    width: 11px;
    height: 11px;
    border: 1px solid $primary-color;
    border-radius: 50%;
    // margin-top: 4rem;
  }

  .custom-prev-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: transparent;

    img {
      width: 14px;
      height: 14px;
    }
  }
  .custom-next-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;

    img {
      width: 14px;
      height: 14px;
    }
  }
}

.ReserveSecHeader {
  text-align: center;
  color: $primary-color;
  font-size: 40px;
  margin-top: 4rem;
}

.ReserveSec {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  gap: 92px;
  color: $text3-color;
  > h5 {
    font-weight: 400;
    font-size: 45px;
    color: $primary-color;
  }

  > div {
    > form {
      > div:nth-of-type(1) {
        input {
          padding: 0 12px;
          &::placeholder {
            color: gray;
            padding: 0;
          }
        }
      }

      div {
        display: flex;
        align-items: center;
        gap: 15px;

        select {
          border-radius: 10px;
          width: 216px;
          height: 54px;
          padding: 0 8px;
        }

        input {
          border-radius: 10px;
          height: 54px;
          width: 216px;

          &::placeholder {
            color: $text2-color;
            padding-right: 1rem;
          }
        }
      }

      textarea {
        height: 160px;
        width: 100%;
        resize: none;
        border-radius: 10px;
        border: 1px solid $primary-color;
        padding: 5px 10px;
      }

      button {
        background-color: $primary-color;
        color: $text2-color;
        font-size: 1rem;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        padding: 10px 15px;
      }
    }
  }
}

// //////////////////////// ROLEEBACK
